<ion-header>
  <ion-navbar color="dark">
    <ion-title>
      Drive Art
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h2>Accelerometer:</h2>
  <button ion-button primary (click)="startWatching()">Start</button>
  <button ion-button secondary (click)="stopWatching()">Stop</button>
  
  <ion-card *ngIf="data">
    <ion-card-content>
      <h1>Direction: {{dir_coord}}</h1>
      <h2>X: {{data.x | number:'1.4-4'}}</h2>
      <h2>Y: {{data.y | number:'1.4-4'}}</h2>
      <h2>Z: {{data.z | number:'1.4-4'}}</h2>
    </ion-card-content>
  </ion-card>

  <h2>Color:</h2>
  <button ion-button [color]="color_b1" [outline]="outline_b1" (click)="setColor1()" icon-start>
    <ion-icon name="brush"></ion-icon>
    Blue
  </button>
  <button ion-button [color]="color_b2" [outline]="outline_b2" (click)="setColor2()" icon-start>
    <ion-icon name="brush"></ion-icon>
    Black
  </button>
  

  <h2>Bluetooth:</h2>

  <ion-row>
    <ion-col>
      <ion-list radio-group [(ngModel)]="pairedDeviceID" *ngIf="listToggle">
        <ion-item *ngFor="let i of pairedList;let j=index">
          <ion-label>{{i.name}}</ion-label>
          <ion-radio value="{{j}}" ></ion-radio>
        </ion-item>
      </ion-list>
    </ion-col>
  </ion-row>

  <button ion-button full class="submit-button" (click)="listPairedDevices()">
      <ion-icon name="refresh"></ion-icon>&nbsp;  Refresh Available Devices</button>

  <button ion-button full [color]="status_color" class="submit-button" *ngIf="listToggle" (click)="selectDevice()">
    <ion-icon name="bluetooth"></ion-icon>&nbsp;  {{status}}</button>

  <ion-list>
    <ion-item>
      <ion-label floating>Type The Data You want to Send</ion-label>
      <ion-input type="text" name="datasend" [(ngModel)]="dataSend"></ion-input>
    </ion-item>
  </ion-list>
  <button ion-button full class="submit-button" (click)="sendData()">
    <ion-icon name="send"></ion-icon>&nbsp;Send Data Via Bluetooth
  </button>
</ion-content>